.divAroundSubmit {
    position: absolute;
    width: 800px;
    border-left: 1px solid #C2C7D0;
    border-right: 1px solid #C2C7D0;
    border-bottom: 1px solid #C2C7D0;
    height: 60px;
}

.divAboveIDE {
    position: relative;
    background-color: #f7f7f7;
    width: 800px;
    border-left: 1px solid #C2C7D0;
    border-right: 1px solid #C2C7D0;
    border-top: 1px solid #C2C7D0;
    height: 45px;
}

.descriptionText {
    font-size: 17px;
}

.descriptionTextSectionHeading {
    font-size: 17px;
    font-weight: bold;
}

.descriptionDiv {
    width: 800px;
    margin: 0 auto;
}

.sampleInputDiv {
    background-color: #f4faff;
    padding: 8px 0 8px 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputText {
    font-size: 14px;
}

.buttonDiv {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    border: 1px solid #C2C7D0;
    border-radius: 2px;
    padding: 8px 14px 8px 14px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08),inset 0 -1px 4px rgba(151,159,175,0.2);
}

.buttonDiv:hover {
    opacity: 85;
}